body {
  font-family: "Montserrat";
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(images/RectLight.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-color: #99b9a5; */
  color: #fff;
}

h1 {
  color: #eff7f2;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  border: solid 5px black;
  border-radius: 5px;
  padding: 30px;
  background-color: #4eb075;
  box-shadow: 15px 15px black;
}

input,
select,
button {
  width: 100%;
  margin: 10px 0;
  padding: 8px 0;
  border: 3px solid #000;
  border-radius: 5px;
  background-color: #9a9a9a;
}

button {
  cursor: pointer;
  font-weight: bold;
  background-color: #eff7f2;
}
